html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif !important;
}

:focus {
  outline: unset !important;
  box-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif !important;
}
