html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

:focus {
  outline: unset !important;
  box-shadow: none !important;
}
